parameters:
	ignoreErrors:
	    - '#Method App\\Entity\\User::getSalt\(\)should return string|null but return statement is missing.#'
	    - '#Method App\\Entity\\User::eraseCredentials\(\) has no return typehint specified.#'
	level: max
	checkMissingIterableValueType: false
	paths:
		- src