{% extends 'base.html.twig' %}

{% block title %}{% trans %}Reset password{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Reset password{% endtrans %}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{% trans %}Reset{% endtrans %}</button>
    {{ form_end(form) }}

{% endblock %}
