{% extends 'base.html.twig' %}

{% block title %}{% trans %}New password{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}New password{% endtrans %}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{% trans %}Save{% endtrans %}</button>
    {{ form_end(form) }}

{% endblock %}
